/*menu*/
.menu {
    padding: 10px 20px;
    background-color: #f5f6f7;
    color: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.hide {
    visibility: hidden;
}


.link--menu {
    color: rgba(0, 0, 0, 0.55);
    font-weight: 500;
   
    line-height: 22px
}

.menu--desplegable {
    color: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    background-color: #f5f6f7;
 
    top: 75px;
    right: 0;
    left: 0;
    height: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: all .7s ease-in-out 0s;
    border-radius: 0 0 15px 15px;
    gap: 32px;
}

.desplegar--menu {
    padding: 1em;
    height: 90vh;
}

.icono--menu--plegable {
    cursor: pointer;
}

.list--item {
    position: relative;
}



.active {
    color: #333;
    font-weight: 700;
}
@media screen and (min-width: 900px) {
    .menu{
        padding: 10px 50px;
    }
    .icono--menu--plegable {
        display: none;
    }

    .menu--desplegable {
        position: relative;
        overflow: visible;
        flex-direction: row;
        top: 0;
        right: 0;
    }
    

}