@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
   para probar la diferencia con y sin scroll suavizado*/
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

body {
    background-color: #f5f6f7;
    font-family: 'Montserrat', sans-serif;
}